# datasets etc
\#datasets/*
\#other/*
\#lut_sharepoint/*
reports/*
results/*
GAIN-Pytorch/*
gans/*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*~
ipython/.ipynb_checkpoints
.python-version
.pylintrc

# Distribution / packaging
build/
dist/
