# datasets etc
\#other/*
\#lut_sharepoint/*
reports/*
results/*
GAIN-Pytorch/*
gans/*

*.csv
*.mat
*.xlsx
*.RData
*.dat
*.gz
*.txt
*.sql
*.arff
\#datasets/spindle/
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*~
ipython/.ipynb_checkpoints
.python-version
.pylintrc

# Distribution / packaging
build/
dist/
