# datasets etc
\#datasets/*
\#other/*
\#lut_sharepoint/*
reports/*
results/*
GAIN-Pytorch/*
gans/*
*.key
/_build
/docs/_build
/.vscode
/.ipynb_checkpoints
/wandb
*.pkl
*.zip
*.csv
*.mat
*.xlsx
*.RData
*.dat
*.gz
*.sql
*.arff
/docs/site/*
\#datasets/spindle/
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*~
ipython/.ipynb_checkpoints
.python-version
.pylintrc

# Distribution / packaging
build/
dist/
